*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin:0 auto;
	padding: 0 3%;
}

.clear{
	clear: both;
}

header{
	height: 80px;
}

header .logo img{
	float: left;
	height: 40px;
	margin-top: 20px;
}

nav.menu-mobile{
	float: right;
	width: 28px;
	height: 28px;
	margin-top:26px;
	cursor: pointer;
	background-image: url('../imagens/menu-mobile.png');
	background-size:100% 100%;
	display: none;
}

nav.menu-mobile ul{
	display: none;
	z-index: 999;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 82px;
	background-color: white;
}

nav.menu-mobile ul li{
	text-transform: capitalize;
}

nav.menu-mobile ul li a {
	display: inline-block;
	width: 100%;
	padding: 12px 0;
}

nav.menu-mobile ul li a:hover {
	background-color: #26AAFF;
	color: white;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	line-height: 80px;
	text-transform: capitalize;
}

header nav.menu-desktop ul li a {
	font-size: 18px;
	padding: 0 20px;
	display: inline-block;
}

header nav.menu-desktop ul li a:hover {
	background-color: #26AAFF;
	color: white;
}

header ul a{
	color: #b4b4b4;
	text-decoration: none;
}

section.main {
	height: 90vh;
	background-image: url('../imagens/capa.png');
	position: relative;
}

section.main .overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.chamada1{
	text-align: center;
	padding-top: 150px;
	position: relative;
}

.chamada1 h2{
	font-weight: 700;
	font-size: 40px;
	color: white;
}

.chamada1 p{
	font-size: 25px;
	font-weight: 300;
	color: white;
	margin-top:10px;
}

section.sessao1{
	width: 100%;
	background-color: #003a7d;
	padding:30px 2%;
}

section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}

.texto-sessao1{
	width: 100%;
	color: white;
	text-align: center;
}

.texto-sessao1 h2{
	font-size: 26px;
	font-weight: 300;
}

.texto-sessao1 p{
	margin-top:20px;
	font-size: 18px;
	margin-bottom: 20px;
}

.texto-sessao1 ul{
	font-size: 15px;
	list-style: none;
	padding-left: 15px;
	margin-bottom: 20px;
}

.texto-sessao1 ul li{
	width: 100%;
	margin-top:8px;
}

.btn1-texto{
	background-color: #FF703D;
	font-size: 30px;
	color: white;
	cursor: pointer;
	margin-top:20px;
	text-align: center;
	border-radius: 20px;
	display: inline-block;
	padding: 10px 15px;
	width: 300px;
}

.device-sessao1{
	float: left;
	width: 50%;
	position: relative;
	top:-30px;
	height: 100%;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.sessao2{
	padding-left: 2%;
	padding-right: 2%;
	background: white;
	text-align: center;
}

.sessao2 .container{
	max-width: 1000px;
}

.sessao2 h2{
	color: #472663;
	font-weight: 300;
}

.sessao2 p{
	margin-top:30px;
	max-width: 900px;
	display:inline-block;
}

.sessao2 img{
	position: relative;
	top: 70px;
	width: 100%;
	margin-top:10px;
}

.sessao3{
	width: 100%; 
}

.part1{
	color: white;
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background: #1E91E4;
}

.wraper-part1{
	max-width: 600px;
	float: right;
	padding:0 30px;
}

.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
}

.part1 p{
	font-size: 18px;
	line-height: 35px;
	margin-top:10px;
}

.part2{
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background: white;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor h2{
	color: #232323;
	font-weight: 400;
	font-size: 21px;
	padding-right: 20px;
}

.titulo-autor p{
	font-size: 13px;
	color: #232323;
	font-style: italic;
	font-weight: 300;
}

.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height:40px;
	background-image: url('../imagens/actor1.png');
	background-size: 100% 100%;
	border-radius: 20px;
	background-color: transparent;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top:10px;
}

.texto-autor p{
	color: #232323;
	font-size: 15px;
}

.slider-bullets{
	width: 100%;
	float: left;
	padding-left: 30px;
	margin-top:12px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 8px;
	background-color: rgb(200,200,200);
}

/* Aqui estou começando a sessão de número 4! */

section.sessao4{
	background-color: #003a7d;
	padding:30px 0;
}

.form{
	color: white;
}

.form h2{
	font-size: 30px;
	text-align: center;
}

.form p{
	font-size: 20px;
	text-align: center;
	font-weight: 300;
}

.form form{
	margin-top:15px;
	text-align: center;
}

.form form input[type=text]{
	width: 80%;
	margin-top:15px;
	height: 40px;
	border-radius: 10px;
	padding: 15px;
	font-size: 20px;
	border:1px solid rgb(200,200,200);
}

.form form textarea{
	width: 80%;
	margin-top:15px;
	padding:15px;
	border:1px solid rgb(200,200,200);
	height: 160px;
	border-radius: 10px;
}

.form form input[type=submit]{
	border: 0;
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin-top:15px;
	border-radius: 30px;
}

.form .submit {
	width: 80%;
	margin: 0 auto;
	text-align: right;
}

/**  SLIDER  */

section.clientes-slider {
	padding: 60px 0;
}

section.clientes-slider img {
	padding: 0 20px;
}

.slick-dotted ul {
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top: 10px;
}

.slick-dotted li {
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus {
	outline: 0;
}

.slick-dotted li button {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button {
	background: #472562;
}

.slick-slide:focus {
	outline: none;
}

section.depoimentos{
	padding: 100px 0;
	background-color: #23188f;
}

section.depoimentos h2{
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 30px;
}

.depoimentos-box{
	margin:10px auto;
	max-width: 800px;
	overflow: hidden;
	width: 100%;
	display: block;
}
.depoimento-single{width: 100%;display: inline-block;}
.depoimento-single p{text-align: center;margin-bottom: 15px;color: white;}
.depoimento-single img{
	width: 70px;
	height: 70px;
	display: block;
	margin: 10px auto;
	border-radius: 50%;
}

.portfolio {
	padding: 50px 0;
}

.item-wrapper {
	padding: 20px;
}

.portfolio-item {
	height: 350px;
	background-position: left top;
	background-size: cover;
	animation-name: anima_out;
	animation-duration: 0.5s;
}

.portfolio-item:hover {
	animation-name: anima_bg;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes anima_bg {
	from {background-position: left top;}
	to {background-position: left bottom;}
}

@keyframes anima_out {
	from {background-position: left bottom;}
	to {background-position: left top;}
}

.how-it-works--gray {
	background-color: #F8F9FA;
}

.func-header {
	text-align: center;
}

.func-header h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 1.8rem;
}

.header-separator {
	margin: 40px auto;
	background-color: #FBED10;
	width: 100px;
	height: 3px;
}

.header-separator--larger {
	width: 200px;
}

.header-separator--blue {
	background-color: #1E91E4;
}

.func-row {
	display: flex;
	flex-wrap: nowrap;
}

.w50 {
	width: 50%;
}

footer{
	padding:40px 2%;
	background: #192123;
	color: white;
}

footer p:nth-of-type(1){
	float: left;
	font-size: 14px;
}

footer p:nth-of-type(2){
	float: right;
	font-size: 14px;
}

.whats-container {
	position: fixed;
	width: 100px;
	height: 100px;
	bottom: 10px;
	right: 10px;
	z-index: 999;
}
.whats-container img {
	max-width: 100%;
}


@media screen and (max-width: 768px){
	
	.chamada1 {
		padding-top: 75px;
	}
	
	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		display: block;
	}
	
	section.sessao1{
		padding:40px 2%;
		height: auto;
		text-align: center;
	}

	.sessao1 .container{
		height: auto;
	}


	.texto-sessao1{
		width: 100%;
		margin-top:0;
		padding-left: 0;
		position: static; 
		float: none;
		display: inline-block;
	}

	.texto-sessao1 ul{
		display: inline-block;
		margin-top:20px;
	}

	.texto-sessao1 ul li{
		float: none;
		text-align: left;
	}

	.btn1-texto{
		display: inline-block;
	}

	.device-sessao1{
		display: none;
	}

	.sessao2{
		padding-top: 40px;
	}

	section.sessao4 .container{
		text-align: center;
	}

	.w50 {
		width: 100%;
	}
	
	.func-row {
		flex-direction: column;
	}
	.item-wrapper {
		width: 100%!important;
	}

}

@media screen and (max-width: 580px){
	
	.chamada1 {
		padding-top: 150px;
	}

	.chamada1 h2 {
		font-size: 30px;
	}
	
	.chamada1 p {
		font-size: 20px;
	}
	
	.part1{
		width: 100%;
		padding:40px 0;
	}

	.part2{
		width: 100%;
		padding:40px 0;
	}

	.sessao2 img{
		top: 16px;
		margin-top:20px;
	}

	footer{
		text-align: center;
	}

	footer p:nth-of-type(1){
	    float: none;
	}

	footer p:nth-of-type(2){
		float: none;
		margin-top:8px;
	}
}