* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
}

.topo {
    padding: 20px 0;
    min-height: 500px;
    background-color: #1a1a1a
}

.logo {
    width: 100%;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.logo>span {
    color: #3f7aff;
}

.sobre {
    color: white;
    margin-top: 140px;
}

.sobre h1 {
    font-size: 50px;
    margin: 20px 0;
    line-height: 55px;
}

.trabalhos {
    padding: 40px 0;
}

.trabalhos>h2 {
    text-align: center;
    color: black;
    font-size: 30px;
}

.trabalho-single {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
}

.trabalho-image {
    width: 50%;
    padding-top: 50px;
    background-color: #5eb2ff;
}

.trabalho-image img {
    max-width: 100%;
    width: 100%;
}

.wrapper-descricao {
    width: 50%;
    padding: 10px 20px;
}

.box-depoimento {
    padding: 8px 15px;
    margin: 40px 0;
    border-radius: 8px;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
}

.box-depoimento p {
    color: #4d533c;
    margin: 10px 0;
    font-style: italic;
    font-size: 16px;
}

.box-depoimento h2 {
    color: #1b1b1b;
    font-size: 16px;
}

.box-depoimento h3 {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: normal;
}

.box-depoimento-user {
    display: flex;
}

.box-depoimento-user img {
    width: 50px;
    height: 50px;
}

.box-depoimento-nome {
    padding: 8px 10px;
}

.faq {
    padding: 50px 0;
}

.faq .center {
    padding: 50px 0;
    border-top: 1px solid #ccc;
}

.faq-header {
    width: 100%;
    display: block;
    clear: both;
}

.faq-wrapper {
    width: 100%;
    margin-top: 30px;
}

.box-faq {
    border-radius: 10px;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
    float: left;
    width: 48%;
    margin-right: 2%;
    padding: 15px;
    margin-top: 30px;
}

.box-faq h2 {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .trabalho-image,
    .wrapper-descricao {
        width: 100%;
    }

    .box-faq {
        width: 98%;
    }
}